.content-flex-parent {
    display:inline-block;
    margin: 10px;
    padding: 30px;
    background-color: navy;
    color: white;
}
.top-content {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 2px solid greenyellow;

}
p {
    padding: 25px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 200;
    border: 2px solid greenyellow;
    margin: auto;
    max-width: 40em;
}
.about-twin {
    border: 2px solid greenyellow;
    /* width: 300px; */
    text-align: center;
    padding: 2em
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
    list-style: none;
    margin: 0; 
    background: deepskyblue;
  }
  
  .navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
  }
  
  .navigation a:hover {
    background: #1565C0;
  }
  
  @media all and (max-width: 800px) {
    .navigation {
      justify-content: space-around;
    }
  }
  
  @media all and (max-width: 600px) {
    .navigation {
      flex-flow: column wrap;
      padding: 0;
    }
    .navigation a { 
      text-align: center; 
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
  }