#profile-pic {
    height:auto;
}
#jumbotron {
    background-color: navy;
    color:white;
}
#headline {
    background-color: navy;
    color:#ccc;
    border-radius: 10px;
    box-shadow: 10px 10px black;
    margin-bottom: 20px;
    }
.nav {
    background-color: #ccc;
    padding-bottom:20px;
}
#main-content {
    background-color: #ccc;
    margin:auto;
    font-size: 24px;
}
#work-card {
    background-color: navy;
    color:white;
    margin:10px;
    padding:15px;
    border-radius: 10px;
    box-shadow: 10px 10px black;

}
